.education-block {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 12px;
  gap: 16px;
  background: rgb(240, 240, 240);
}

.education-block__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 12px;
}

.education-block__item {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  border-radius: 10px;
  background: rgb(255, 255, 255);

  flex: 0 1 calc(50% - 22px);
}

.education-block__item--last {
  background: rgb(40, 217, 121);
  color: rgb(255, 255, 255);
}

.education-block__top-bar {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.education-block__content {
  display: flex;
  flex-direction: column;
}

.education-block__title {
  font-weight: 500;
}

.education-block__tags {
  color: rgb(20, 144, 99);
  font-size: 0.8rem;
}

.education-block__item--last .education-block__tags {
  color: rgb(235, 249, 242);
}

.education-block__school {
  font-size: 0.8rem;
}
