.interests-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  border-radius: 12px;
  background: rgb(240, 240, 240);
}

.interests-block__content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.interests-block__tag {
  padding: 4px 10px 4px 10px;
  border-radius: 40px;
  background: rgb(255, 255, 255);
}
